* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    top: 0;
    bottom: 90px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 1440px;
}

h1 {
    margin: 20px;
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
}

.nav-list {
    display: flex;
    margin: 20px 88px 20px 0px;
   
}

.nav-items {
    margin-left: 30px;
}

.nav-link {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 250% */
}

.nav-link:hover {
    cursor: pointer;
    color: #BB945F;
}

.profile {
    position: absolute;
    cursor: pointer;
    margin: 0 0 0 1390px;
}

.about {
    display: flex;
    justify-content: center;
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 20px;
}

.line {
    position: relative;
    margin: 20px 695px 0 695px;
    display: flex;
    width: 50px;
    height: 1px;
    background-color:#0C0C0E;
}

.libtext {
    color: #000;
    margin: 40px 0 20px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
}

.images-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.carousel-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    width: 16px;
    height: 16px;
    background-color: #BB945F;
    margin: 40px 0 40px 10px;
    border-radius: 50%;
}

.favorites {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.pick {
    display: flex;
    justify-content: flex-start;
    margin: 40px 0 0 20px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}




